.grid-wrapper {
    // width: 95%;  //debug purpose
    border: 1px solid green;
    margin: 0 auto;
    background-color: $secondary-color;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "grid-main"
        "grid-portfolio"
        "grid-contact"
        "grid-skills";
}

.sec-main {
    // Site Grid Wrapper
    grid-area: grid-main;
    
    // sec-main Grid layout
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "m-header"
        "m-about"
        "m-aside";

    &__header {
        grid-area: m-header;
    }

    &__about-me {
        grid-area: m-about;
    }

    &__aside {
        grid-area: m-aside;
    }

    @include breakPoint(992px){
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "m-header  m-about"
            "m-header  m-about"
            "m-header  m-footer";

    } // End breakPoint(992px)
}

.sec-portfolio {
    grid-area: grid-portfolio;

    // sec-portfolio Grid layout
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "p-heading"
        "p-projects";

    &__heading {
        grid-area: p-heading;
    }

    &__projects {
        grid-area: p-projects;
    }

    @include breakPoint(992px){
        // display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto 2fr auto;
        grid-template-areas: 
            "p-heading  p-heading   p-heading"
            "p-projects p-projects  p-projects"
            "p-ctrl-prev p-details  p-ctrl-next";

        &__carousel-ctrl-prev-button {
            grid-area: p-ctrl-prev;
        }

        &__carousel-ctrl-details {
            grid-area: p-details;
        }

        &__carousel-ctrl-next-button {
            grid-area: p-ctrl-next;
        }



    } // End breakPoint(992px)
}

.sec-contact {
    grid-area: grid-contact;

    // sec-contact Grid layout
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "c-heading"
    "c-footer";

    &__heading {
        grid-area: "c-heading";    
    }

    &__footer {
        grid-area: "c-footer";

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "c-email"
        "c-phone"
        "c-social";
    
        &__email-container {
            grid-area: "c-email";
        }
    
        &__phone-container {
            grid-area: "c-phone";
        }
    
        &__social-media {
            grid-area: "c-social";
        }

    } // End &__footer

    



}

.sec-skills {
    grid-area: grid-skills;
}