.grid-wrapper {
    margin: 0 auto;
    background-color: $secondary-color;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "grid-main"
        "grid-portfolio"
        "grid-contact"
        "grid-skills";
} // End .grid-wrapper

.sec-main {
    // Site Grid Wrapper
    grid-area: grid-main;
    
    // sec-main Grid layout
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "m-header"
        "m-about"
        "m-aside";

    .sec-main__header {
        grid-area: m-header;
    }

    .sec-main__about-me {
        grid-area: m-about;
    }

    .sec-main__aside {
        grid-area: m-aside;
    }

    @include breakPoint(992px){
        display: grid;
        grid-template-columns: 33% auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "m-header  m-about"
            "m-header  m-aside";

    } // End breakPoint(992px)
} // End .sec-main

.sec-portfolio {
    grid-area: grid-portfolio;

    // sec-portfolio Grid layout
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "p-heading"
        "p-projects";

    .sec-portfolio__heading {
        grid-area: p-heading;
    }

    .sec-portfolio__projects {
        grid-area: p-projects;
    }

    @include breakPoint(992px){
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr .5fr;
        grid-template-areas: 
            "p-heading"
            "p-projects"
            "p-controls";

        .sec-portfolio__carousel-controls {
            grid-area: p-controls;
        }
    } // End breakPoint(992px)
} // End .sec-portfolio

.sec-contact {
    grid-area: grid-contact;

    // sec-contact Grid layout
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "c-heading"
    "c-footer";

    .sec-contact__heading {
        grid-area: c-heading;    
    }

    .sec-contact__footer {
        grid-area: c-footer;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "c-email"
        "c-phone"
        "c-form"
        "c-social";

        @include breakPoint(992px){
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto ;
            grid-template-areas: 
            "c-social c-email"
            "c-social c-phone"
            "c-social c-form";
        }

        @include breakPoint(1200px){
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto ;
            grid-template-areas: 
            "c-social c-email"
            "c-social c-phone"
            "c-social c-form";
        }
    
        .sec-contact__email-container {
            grid-area: c-email;
        }
    
        .sec-contact__phone-container {
            grid-area: c-phone;
        }
    
        .sec-contact__form-container {
            grid-area: c-form;
        }

        .sec-contact__social-media {
            grid-area: c-social;
        }
    } // End &__footer
} // End .sec-contact

.sec-skills {
    grid-area: grid-skills;

    // sec-skills Grid layout
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "s-heading"
    "s-chart";

    .sec-skills__heading {
        grid-area: s-heading;
    }

    .sec-skills__chart {
        grid-area: s-chart;
    }

    @include breakPoint(768px){
        grid-template-areas: 
        "s-heading"
        "s-showcase"
        "s-chart";

        .sec-skills__showcase {
            grid-area: s-showcase;
        }
    } // .sec-skills breakpoint 768px
} // End .sec-skills