.sec-main {
  $self: &; // For Nested BEM support. Defines variable as ".sec-main"
  @include sectionContainer;

  & > * {
    // All direct children of sec-main. Don't directly on .sec-main since it will
    //  cause container background to not take up full width of page
    // @include sectionContainer;
  }

  &__header {
    @include sectionHeading;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // background-color: $primary-color;

    #{$self}__header-brand {
      margin-right: 60px;
      text-align: left;

      #{$self}__header-avatar {
        display: none;
      } //End header-avatar
    } // End header-brand

    #{$self}__header-nav {
      #{$self}__header-nav-menu-icon {
        font-size: 3rem;
        cursor: pointer;
      } // End header-nav-menu-icon

      #{$self}__header-nav-menu {
        display: none;
        list-style-type: none;
        font-size: 1rem;
        color: $txt-color;
      } // End header-nav-menu

      #{$self}__header-nav-menu--active {
        // background: $secondary-color;
        background: $nav-bg-color;
        position: absolute;
        display: block;
        width: 50%;
        border-radius: 0 15px 15px 0;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        text-align: center;
        box-shadow: $boxShadow;
        transform-origin: top left;
        animation: swing-in 0.5s linear;
      } // End header-nav-menu--active

      #{$self}__header-nav-menu--deactivated {
        transform-origin: top left;
        animation: swing-out 0.5s linear;
      } // End header-nav-menu--deactivated

      #{$self}__header-nav-item {
        #{$self}__header-nav-link {
          color: $txt-color;
          text-decoration: none;
          text-transform: uppercase;
          display: block;
          padding: 1.5rem 3rem;
        }
      } // End header-nav-item
    } // End header-nav
  } // End header

  &__about {
    @include sectionBody;

    #{$self}__about-title {
      text-align: center;

      #{$self}__about-title-primary {
        font-size: 1.9rem;
        letter-spacing: 3px;
      }

      #{$self}__about-title-secondary {
        font-weight: 600;
        letter-spacing: 3px;
      }

      #{$self}__about-title-ampersand {
        font-weight: 500;
        
      }
    } // End about-title

    #{$self}__about-me {
      font-size: 0.9rem;
      letter-spacing: 1px;
      text-align: justify;
      padding: 20px 0;
    } // End about-me
  } // End "about"

  &__aside {
    padding: 5px 0;
    text-align: center; // center the button

    #{$self}__cta-dl-resume {
      @include newButton(10px, 20px, normal, 1rem, 20px);
    }
  } // End aside
} // END .sec-main
