// Theme Colors
// $primary-color: #4f25f9; // Original color
$primary-color: #042C71; // Option 1
$secondary-color: #eeeeee;
$txt-color: #737373;
// $standout-color: #f6fe09; // Original
$standout-color: #F8D605;
$heading-bg-color: linear-gradient(to top right, $primary-color,#6A8AC1);
$btn-bg-color: #CE4912;
$btn-carousel-color: #F36B1C;
$btn-txt-color: #fff;
$default-icon-color: #1d1d1d;
$red-color: #ff0000;
$green-color: #00af00;
$purple-color: #800080;
$skills-proficient-color: radial-gradient(circle at top right,#00af00, #9bbb9b);
$skills-intermediate-color: radial-gradient(circle at top right,#800080, #c56fc5);
$skills-advance-color: radial-gradient(circle at top right,#ff0000,#ff9191);
$submit-button-color: #0a3d62;

// *** Basic reusable variables ***

// Box Shadow Default
$boxShadow: 5px 10px 10px;

// Skills Orbit Controls
$orbitPathScale: 2.1;
$orbitAngle: 70deg;
$skillImgScale: .5;
$spinRate: 30s;