// MAIN SASS STYLES ENTRY - Contains "high level" styles that apply HTML and BODY tags as well as imports to other partials
/* Using BEM CSS Naming Standard along with Sass Nesting*/

// ********* [START] IMPORT OF PARTIALS *********
@import "reset";
@import "variables";
@import "mixins";
@import "layout";
@import "animations";

// Section Styles
@import "sec-main";
@import "sec-portfolio";

// ********* [END] IMPORT OF PARTIALS *********

// ********* [START] Import Fonts *********
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');  // Poppins Google Font

// ********* [END] Import Fonts *********


// Defaults for the page unless explicitly defined for an element(s)
html {
  scroll-behavior: smooth;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $txt-color;
}


//  Screen Reader only content. Provide better Sematics for SR's
.sr-only {
  clip: rect(1px,  1px,  1px,  1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  background-color: $txt-color; // temp color for layout purposes
}


// temp hide uncessary images while structuring layout
.sec-skills img {
  display: none;
}