@charset "UTF-8";
/* Using BEM CSS Naming Standard along with Sass Nesting*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.grid-wrapper {
  border: 1px solid green;
  margin: 0 auto;
  background-color: #F3F3F3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "grid-main" "grid-portfolio" "grid-contact" "grid-skills";
}

.sec-main {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: grid-main;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "m-header" "m-about" "m-aside";
}

.sec-main__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: m-header;
}

.sec-main__about-me {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: m-about;
}

.sec-main__aside {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: m-aside;
}

@media only screen and (min-width: 992px) {
  .sec-main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: .5fr 1fr;
        grid-template-columns: .5fr 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "m-header  m-about" "m-header  m-about" "m-header  m-footer";
  }
}

.sec-portfolio {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: grid-portfolio;
}

.sec-contact {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: grid-contact;
}

.sec-skills {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: grid-skills;
}

@-webkit-keyframes swing-in {
  0% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-box-shadow: 5px 10px 10px;
            box-shadow: 5px 10px 10px;
    opacity: 1;
  }
}

@keyframes swing-in {
  0% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-box-shadow: 5px 10px 10px;
            box-shadow: 5px 10px 10px;
    opacity: 1;
  }
}

@-webkit-keyframes swing-out {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-box-shadow: 5px 10px 10px;
            box-shadow: 5px 10px 10px;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
    opacity: 0;
  }
}

@keyframes swing-out {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-box-shadow: 5px 10px 10px;
            box-shadow: 5px 10px 10px;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
    opacity: 0;
  }
}

.sec-main {
  font-size: 1rem;
  padding: 0 20px 20px 20px;
}

.sec-main__header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 -20px;
  padding: 30px 20px;
  font-size: 2rem;
  font-weight: bold;
  background-color: #4f25f9;
  color: #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-main__header .sec-main__header-brand {
  margin-right: 60px;
}

.sec-main__header .sec-main__header-brand .sec-main__header-avatar {
  display: none;
}

.sec-main__header .sec-main__header-nav .sec-main__header-nav-menu-icon {
  font-size: 3rem;
  cursor: pointer;
}

.sec-main__header .sec-main__header-nav .sec-main__header-nav-menu {
  display: none;
  list-style-type: none;
  font-size: 1rem;
  color: #737373;
}

.sec-main__header .sec-main__header-nav .sec-main__header-nav-menu--active {
  background: #eff6fb;
  position: absolute;
  display: block;
  width: 50%;
  border-radius: 0 15px 15px 0;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-box-shadow: 5px 10px 10px;
          box-shadow: 5px 10px 10px;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-animation: swing-in 0.5s linear;
          animation: swing-in 0.5s linear;
}

.sec-main__header .sec-main__header-nav .sec-main__header-nav-menu--deactivated {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-animation: swing-out 0.5s linear;
          animation: swing-out 0.5s linear;
}

.sec-main__header .sec-main__header-nav .sec-main__header-nav-item .sec-main__header-nav-link {
  color: #737373;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
}

.sec-main__about .sec-main__about-title {
  text-align: center;
}

.sec-main__about .sec-main__about-title .sec-main__about-title-primary {
  font-size: 2rem;
}

.sec-main__about .sec-main__about-title .sec-main__about-title-secondary {
  font-weight: 600;
}

.sec-main__about .sec-main__about-title .sec-main__about-title-ampersand {
  font-weight: 500;
}

.sec-main__about .sec-main__about-me {
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-align: justify;
  padding: 5px 0 25px 0;
}

.sec-main__aside {
  text-align: center;
}

.sec-main__aside .sec-main__cta-dl-resume {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  line-height: normal;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#4f25f9), to(#28137D));
  background: linear-gradient(#4f25f9, #28137D);
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #fff #737373 #737373 #fff;
}

.sec-main__aside .sec-main__cta-dl-resume:hover {
  color: #f6fe09;
}

.sec-main__aside .sec-main__cta-dl-resume:active {
  border-color: #737373 #fff #fff #737373;
}

.sec-portfolio {
  border: 1px solid red;
}

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #737373;
}

.sr-only {
  clip: rect(1px,  1px,  1px,  1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  background-color: #737373;
}

img {
  display: none;
}
/*# sourceMappingURL=style.css.map */