@charset "UTF-8";
/* Using BEM CSS Naming Standard along with Sass Nesting*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body, h2 {
  margin: 0;
  padding: 0;
}

.grid-wrapper {
  border: 1px solid green;
  margin: 0 auto;
  background-color: #eeeeee;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "grid-main" "grid-portfolio" "grid-contact" "grid-skills";
}

.sec-main {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: grid-main;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "m-header" "m-about" "m-aside";
}

.sec-main__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: m-header;
}

.sec-main__about-me {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: m-about;
}

.sec-main__aside {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: m-aside;
}

@media only screen and (min-width: 992px) {
  .sec-main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: .5fr 1fr;
        grid-template-columns: .5fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "m-header  m-about" "m-header  m-about" "m-header  m-footer";
  }
}

.sec-portfolio {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: grid-portfolio;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "p-heading" "p-projects";
}

.sec-portfolio__heading {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: p-heading;
}

.sec-portfolio__projects {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: p-projects;
}

@media only screen and (min-width: 992px) {
  .sec-portfolio {
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
    -ms-grid-rows: auto 2fr auto;
        grid-template-rows: auto 2fr auto;
        grid-template-areas: "p-heading  p-heading   p-heading" "p-projects p-projects  p-projects" "p-ctrl-prev p-details  p-ctrl-next";
  }
  .sec-portfolio__carousel-ctrl-prev-button {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: p-ctrl-prev;
  }
  .sec-portfolio__carousel-ctrl-details {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: p-details;
  }
  .sec-portfolio__carousel-ctrl-next-button {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: p-ctrl-next;
  }
}

.sec-contact {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: grid-contact;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "c-heading" "c-footer";
}

.sec-contact__heading {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: c-heading;
}

.sec-contact__footer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: c-footer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "c-email" "c-phone" "c-social";
}

.sec-contact__footer__email-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: c-email;
}

.sec-contact__footer__phone-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: c-phone;
}

.sec-contact__footer__social-media {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: c-social;
}

.sec-skills {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: grid-skills;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "s-heading" "s-chart";
}

.sec-skills__heading {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: s-heading;
}

.sec-skills__chart {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: s-chart;
}

@media only screen and (min-width: 992px) {
  .sec-skills {
        grid-template-areas: "s-heading" "s-showcase" "s-chart";
  }
  .sec-skills__showcase {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: s-showcase;
  }
}

@-webkit-keyframes swing-in {
  0% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-box-shadow: 5px 10px 10px;
            box-shadow: 5px 10px 10px;
    opacity: 1;
  }
}

@keyframes swing-in {
  0% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-box-shadow: 5px 10px 10px;
            box-shadow: 5px 10px 10px;
    opacity: 1;
  }
}

@-webkit-keyframes swing-out {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-box-shadow: 5px 10px 10px;
            box-shadow: 5px 10px 10px;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
    opacity: 0;
  }
}

@keyframes swing-out {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-box-shadow: 5px 10px 10px;
            box-shadow: 5px 10px 10px;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
    opacity: 0;
  }
}

@-webkit-keyframes delay-pointer-events {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes delay-pointer-events {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(1) rotate(45deg);
            transform: scale(1) rotate(45deg);
  }
  25% {
    -webkit-transform: scale(1) rotate(45deg);
            transform: scale(1) rotate(45deg);
  }
  30% {
    -webkit-transform: scale(1.2) rotate(45deg);
            transform: scale(1.2) rotate(45deg);
  }
  50% {
    -webkit-transform: scale(1.1) rotate(45deg);
            transform: scale(1.1) rotate(45deg);
  }
  70% {
    -webkit-transform: scale(1.2) rotate(45deg);
            transform: scale(1.2) rotate(45deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(45deg);
            transform: scale(1) rotate(45deg);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1) rotate(45deg);
            transform: scale(1) rotate(45deg);
  }
  25% {
    -webkit-transform: scale(1) rotate(45deg);
            transform: scale(1) rotate(45deg);
  }
  30% {
    -webkit-transform: scale(1.2) rotate(45deg);
            transform: scale(1.2) rotate(45deg);
  }
  50% {
    -webkit-transform: scale(1.1) rotate(45deg);
            transform: scale(1.1) rotate(45deg);
  }
  70% {
    -webkit-transform: scale(1.2) rotate(45deg);
            transform: scale(1.2) rotate(45deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(45deg);
            transform: scale(1) rotate(45deg);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

.sec-main {
  font-size: 1rem;
  padding: 0 20px 20px 20px;
}

.sec-main__header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 -20px;
  padding: 30px 20px;
  font-size: 2rem;
  font-weight: bold;
  background-color: #4f25f9;
  color: #eeeeee;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-main__header .sec-main__header-brand {
  padding-right: 60px;
  text-align: left;
}

@media only screen and (min-width: 640px) {
  .sec-main__header .sec-main__header-brand {
    padding-left: 20px;
  }
}

.sec-main__header .sec-main__header-brand .sec-main__header-avatar {
  display: none;
}

@media only screen and (min-width: 640px) {
  .sec-main__header .sec-main__header-nav {
    padding-right: 20px;
  }
}

.sec-main__header .sec-main__header-nav .sec-main__header-nav-menu-icon {
  font-size: 3rem;
  cursor: pointer;
}

.sec-main__header .sec-main__header-nav .sec-main__header-nav-menu {
  display: none;
  list-style-type: none;
  font-size: 1rem;
  color: #737373;
}

.sec-main__header .sec-main__header-nav .sec-main__header-nav-menu--active {
  background: #eeeeee;
  position: absolute;
  display: block;
  width: 50%;
  border-radius: 0 15px 15px 0;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-box-shadow: 5px 10px 10px;
          box-shadow: 5px 10px 10px;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-animation: swing-in 0.5s linear;
          animation: swing-in 0.5s linear;
}

.sec-main__header .sec-main__header-nav .sec-main__header-nav-menu--deactivated {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-animation: swing-out 0.5s linear;
          animation: swing-out 0.5s linear;
}

.sec-main__header .sec-main__header-nav .sec-main__header-nav-item .sec-main__header-nav-link {
  color: #737373;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
}

.sec-main__about {
  padding-top: 20px;
}

.sec-main__about .sec-main__about-title {
  text-align: center;
}

.sec-main__about .sec-main__about-title .sec-main__about-title-primary {
  font-size: 1.9rem;
  letter-spacing: 3px;
}

.sec-main__about .sec-main__about-title .sec-main__about-title-secondary {
  font-weight: 600;
  letter-spacing: 3px;
}

.sec-main__about .sec-main__about-title .sec-main__about-title-ampersand {
  font-weight: 500;
}

.sec-main__about .sec-main__about-me {
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-align: justify;
  padding: 20px 0;
}

@media only screen and (min-width: 640px) {
  .sec-main__about .sec-main__about-me {
    padding: 20px 20px;
  }
}

.sec-main__aside {
  padding: 5px 0;
  text-align: center;
}

.sec-main__aside .sec-main__cta-dl-resume {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  line-height: normal;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#4f25f9), to(#28137D));
  background: linear-gradient(#4f25f9, #28137D);
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #fff #737373 #737373 #fff;
}

.sec-main__aside .sec-main__cta-dl-resume:hover {
  color: #f6fe09;
}

.sec-main__aside .sec-main__cta-dl-resume:active {
  border-color: #737373 #fff #fff #737373;
}

.sec-portfolio {
  font-size: 1rem;
  padding: 0 20px 20px 20px;
}

.sec-portfolio__heading {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 -20px;
  padding: 30px 20px;
  font-size: 2rem;
  font-weight: bold;
  background-color: #4f25f9;
  color: #eeeeee;
  text-align: center;
}

.sec-portfolio__heading > i {
  display: none;
}

.sec-portfolio__projects {
  padding-top: 20px;
}

.sec-portfolio__projects .sec-portfolio__carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec-portfolio__projects .sec-portfolio__proj-card {
  min-width: 200px;
  max-width: 360px;
  height: 230px;
  margin: 10px 10px;
  border: 1px solid #737373;
  border-radius: 5px;
  -webkit-box-shadow: 5px 10px 10px;
          box-shadow: 5px 10px 10px;
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .sec-portfolio__projects .sec-portfolio__proj-card {
    margin: 15px 15px;
  }
}

.sec-portfolio__projects .sec-portfolio__proj-card:hover .sec-portfolio__proj-info {
  opacity: 1;
}

.sec-portfolio__projects .sec-portfolio__proj-card:hover .sec-portfolio__proj-info .sec-portfolio__proj-cta {
  opacity: 1;
  -webkit-transition: opacity .5s linear;
  transition: opacity .5s linear;
  pointer-events: auto;
  -webkit-animation: delay-pointer-events .5s linear;
          animation: delay-pointer-events .5s linear;
}

.sec-portfolio__projects .sec-portfolio__proj-card:hover .sec-portfolio__proj-img {
  -webkit-transform: scale(1.3) rotate(15deg);
          transform: scale(1.3) rotate(15deg);
}

.sec-portfolio__projects .sec-portfolio__proj-card .sec-portfolio__proj-img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sec-portfolio__projects .sec-portfolio__proj-card .sec-portfolio__proj-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.sec-portfolio__projects .sec-portfolio__proj-card .sec-portfolio__proj-info .sec-portfolio__proj-title {
  padding: 5px;
  font-size: 1.3rem;
}

.sec-portfolio__projects .sec-portfolio__proj-card .sec-portfolio__proj-info .sec-portfolio__proj-cta {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  pointer-events: none;
  opacity: 0;
}

.sec-portfolio__projects .sec-portfolio__proj-card .sec-portfolio__proj-info .sec-portfolio__proj-cta > .proj-cta-btn {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 45px;
  line-height: 45px;
  font-size: 1.3rem;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 2px 0;
  top: -2px;
}

.sec-portfolio__projects .sec-portfolio__proj-card .sec-portfolio__proj-info .sec-portfolio__proj-cta > .proj-cta-btn:hover {
  border-color: lightgray;
}

.sec-portfolio__projects .sec-portfolio__proj-card .sec-portfolio__proj-info .sec-portfolio__proj-cta > .proj-cta-btn:active {
  top: 0;
}

.sec-portfolio__carousel-controls {
  display: none;
}

.sec-contact {
  font-size: 1rem;
  padding: 0 20px 20px 20px;
}

.sec-contact__heading {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 -20px;
  padding: 30px 20px;
  font-size: 2rem;
  font-weight: bold;
  background-color: #4f25f9;
  color: #eeeeee;
  text-align: center;
}

.sec-contact__heading > i {
  display: none;
}

.sec-contact__footer .sec-contact--contact-icon {
  font-size: 2.5rem;
}

.sec-contact__footer .sec-contact__email-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}

.sec-contact__footer .sec-contact__email-container .sec-contact__email-icon-cta {
  display: block;
  width: 80px;
  height: 80px;
  margin: 2.5em auto 1rem auto;
  padding: 1.2rem;
  background-color: red;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: heartbeat 1.4s linear infinite;
          animation: heartbeat 1.4s linear infinite;
}

.sec-contact__footer .sec-contact__email-container .sec-contact__email-icon-cta .sec-contact__email-icon {
  color: #fff;
  -webkit-transform: rotate(-45deg) translateY(-15px);
          transform: rotate(-45deg) translateY(-15px);
}

.sec-contact__footer .sec-contact__email-container .sec-contact__email-icon-cta::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ff0000;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  z-index: -1;
}

.sec-contact__footer .sec-contact__email-container .sec-contact__email-icon-cta::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ff0000;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  border-radius: 50%;
  z-index: -1;
}

.sec-contact__footer .sec-contact__email-container .sec-contact__email-address {
  margin: 1.5em auto;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

@media only screen and (min-width: 640px) {
  .sec-contact__footer .sec-contact__email-container .sec-contact__email-address {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.sec-contact__footer .sec-contact__phone-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em auto;
}

.sec-contact__footer .sec-contact__phone-container .sec-contact__phone-icon-cta {
  display: block;
  height: 125px;
  width: 125px;
  margin: 1.5em auto;
  position: relative;
  border-radius: 50%;
  background-color: #00af00;
}

.sec-contact__footer .sec-contact__phone-container .sec-contact__phone-icon-cta .sec-contact__phone-icon {
  width: 100%;
  text-align: center;
  line-height: 125px;
  color: #1d1d1d;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.sec-contact__footer .sec-contact__phone-container .sec-contact__phone-icon-cta::before, .sec-contact__footer .sec-contact__phone-container .sec-contact__phone-icon-cta::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid #00af00;
  border-radius: 50%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-animation: pulse 1.8s linear infinite;
          animation: pulse 1.8s linear infinite;
}

.sec-contact__footer .sec-contact__phone-container .sec-contact__phone-icon-cta::after {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.sec-contact__footer .sec-contact__phone-container .sec-contact__phone-num {
  margin: 1em auto;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

@media only screen and (min-width: 640px) {
  .sec-contact__footer .sec-contact__phone-container .sec-contact__phone-num {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.sec-contact__footer .sec-contact__contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0;
}

.sec-contact__footer .sec-contact__contact-form .sec-contact__form {
  width: 100%;
  max-width: 600px;
  min-width: 290px;
  justify-self: center;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#a48dff), to(#4f25f9));
  background-image: linear-gradient(to bottom left, #a48dff, #4f25f9);
  color: white;
  border-radius: 5px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sec-contact__footer .sec-contact__contact-form .sec-contact__form > * {
  margin: 10px 0;
}

.sec-contact__footer .sec-contact__contact-form .sec-contact__form > label > * {
  border-radius: 5px;
  padding: 10px;
  display: block;
  background-color: #eeeeee;
}

.sec-contact__footer .sec-contact__contact-form .sec-contact__form > label > *:focus {
  background-color: white;
}

.sec-contact__footer .sec-contact__contact-form .sec-contact__form-name-input {
  width: 75%;
}

.sec-contact__footer .sec-contact__contact-form .sec-contact__form-email-input {
  width: 100%;
}

.sec-contact__footer .sec-contact__contact-form .sec-contact__form-message-input {
  width: 100%;
  height: 100px;
}

.sec-contact__footer .sec-contact__contact-form .sec-contact__form-submit-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: 2px solid #0a3d62;
  background-color: #eeeeee;
  color: #0a3d62;
  top: -2px;
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  position: relative;
  overflow: hidden;
}

.sec-contact__footer .sec-contact__contact-form .sec-contact__form-submit-button:hover {
  color: white;
  border-color: white;
  z-index: 2;
}

.sec-contact__footer .sec-contact__contact-form .sec-contact__form-submit-button:active {
  top: 0;
}

.sec-contact__footer .sec-contact__contact-form .sec-contact__form-submit-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #0a3d62;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  -webkit-transition: height 1.2s;
  transition: height 1.2s;
}

.sec-contact__footer .sec-contact__contact-form .sec-contact__form-submit-button:hover::before {
  height: 190%;
}

.sec-contact__footer .sec-contact__social-media {
  width: 100%;
  text-align: center;
  margin: 1em 0;
}

.sec-contact__footer .sec-contact__social-media .sec-contact__icon {
  font-size: 2.5rem;
  margin: 0.6rem 1.5rem;
  padding: 10px;
}

.sec-contact__footer .sec-contact__social-media .sec-contact__github-icon {
  color: black;
}

.sec-contact__footer .sec-contact__social-media .sec-contact__linkedin-icon {
  color: blue;
}

.sec-contact__footer .sec-contact__social-media .sec-contact__twitter-icon {
  color: lightblue;
}

.sec-contact__footer .sec-contact__social-media .sec-contact__facebook-icon {
  color: navy;
}

.sec-contact__footer .sec-contact__social-media .sec-contact__codepen-icon {
  color: orangered;
}

.sec-skills {
  font-size: 1rem;
  padding: 0 20px 20px 20px;
  border: 1px solid red;
}

.sec-skills__heading {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 -20px;
  padding: 30px 20px;
  font-size: 2rem;
  font-weight: bold;
  background-color: #4f25f9;
  color: #eeeeee;
  text-align: center;
}

.sec-skills__heading > i {
  display: none;
}

.sec-skills__chart {
  padding-top: 20px;
}

.sec-skills__chart .sec-skills__skill-legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-bottom: 2.5em;
}

@media only screen and (min-width: 640px) {
  .sec-skills__chart .sec-skills__skill-legend {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.sec-skills__chart .sec-skills__skill-legend .sec-skills__skill-legend-title {
  margin-bottom: 1rem;
  font-weight: 500;
}

.sec-skills__chart .sec-skills__skill-legend .sec-skills__skill-legend-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  color: white;
}

.sec-skills__chart .sec-skills__skill-legend .sec-skills--skill-legend-proficient-icon {
  background-image: radial-gradient(circle at top right, #00af00, #9bbb9b);
}

.sec-skills__chart .sec-skills__skill-legend .sec-skills--skill-legend-intermediate-icon {
  background-image: radial-gradient(circle at top right, #800080, #c56fc5);
}

.sec-skills__chart .sec-skills__skill-legend .sec-skills--skill-legend-advance-icon {
  background-image: radial-gradient(circle at top right, #ff0000, #ff9191);
}

.sec-skills__chart .sec-skills__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec-skills__chart .sec-skills__skills .sec-skills__skill-card {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 1rem 0;
  margin: 5px;
  -webkit-box-shadow: 5px 5px 5px #d3d3d3;
          box-shadow: 5px 5px 5px #d3d3d3;
}

.sec-skills__chart .sec-skills__skills .sec-skills__skill-card .sec-skills__skill-name {
  width: 50%;
  text-align: right;
  font-size: 1.2rem;
}

.sec-skills__chart .sec-skills__skills .sec-skills__skill-card .sec-skills__skill-level {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  border-radius: 50%;
  color: white;
}

.sec-skills__chart .sec-skills__skills .sec-skills__skill-card .sec-skills--skill-level-proficient {
  background-image: radial-gradient(circle at top right, #00af00, #9bbb9b);
}

.sec-skills__chart .sec-skills__skills .sec-skills__skill-card .sec-skills--skill-level-intermediate {
  background-image: radial-gradient(circle at top right, #800080, #c56fc5);
}

.sec-skills__chart .sec-skills__skills .sec-skills__skill-card .sec-skills--skill-level-advance {
  background-image: radial-gradient(circle at top right, #ff0000, #ff9191);
}

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #737373;
}

.sr-only {
  clip: rect(1px,  1px,  1px,  1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  background-color: #737373;
}

.sec-skills img {
  display: none;
}
/*# sourceMappingURL=style.css.map */